{% load staticfiles %}
<html>
<head></head>
<body>
	<h2>Title: {{book.title}}</h2>
		<h3>Author: {{book.author}}</h3>
		<h3>Genre: {{book.genre}}</h3>
		<h4>Owners:</h4>
		<ul>
		{% for owner in book.customer_set.all %}
			<li>{{owner.name}}</li>
		{% endfor %}
		</ul>
	<br>
	<a href='{% url "edit_book" book.id %}'>Edit Info</a>
	<a href='{% url "add_owner" %}'>Add New Owner</a>
	<a href='{% url "add_current_customer" book.id %}'>Add Current Owner</a>
	<a href='{% url "show_books" %}'>To List</a>

</body>
</html>